body,h1,h2,h3,h4,dl,dd,p{
    margin: 0;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    vertical-align: middle;/* 将图片的缝隙去掉  */
}

button{
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

body{
    background: #f4f4f4;
}

/* 登录弹窗公共样式 */
.dialog{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}
.dialog.show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog .wrap{
    position: relative;
}
.dialog .wrap h3{
    font-size: 24px;
    line-height: 42px;
    color:#fffeef;
    text-align: center;
}
.dialog .close{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 6px;
    right: 6px;
    background: url(../images/dia-login-close.png) no-repeat center;
}

/* 轮播图公共样式 */
.carousel{
    position: relative;
    overflow: hidden;
}
.carouselInner{
    display: flex;
    position: absolute;
}
.carouselIndicators{
    display: flex;
    position: absolute;
}
.carousel .carouselIndicators span{
    cursor: pointer;
    background: #fff;
}
.carouselIndicators span.active,.carouselIndicators span:hover{
    background: #feb012;
}

/* 选项卡公共样式 */
.tabContent{
    display: none;
}
.tabContent.active{
    display: block;
}


/* more */
.more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more a{
    width: 17px;
    height: 17px;
    background: url(../images/spr_icon.png);
}

/* 滚动条样式 */
.scroll{
    position: relative;
    overflow: hidden;
}
.scrollContent{
    position: absolute;
    left: 0;
    top: 0;
}
.scrollBar{
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    border-radius: 3px;
    background: rgba(200, 200, 200, .7);
    height: 100%;
}
.scrollBar span{
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
    left: 0;
    top: 0;
}

/* 版心 */
.box{
    width: 1200px;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
}

/* publicHead */
.publicHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.publicHead h3{
    font-size: 24px;
    height: 30px;
    color: #24262d;
    display: flex;
    align-items: center;
}
.publicHead h3::before{
    content: "";
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background: url(../images/sprites.png);
}

.publicHead ul{
    height: 30px;
    display: flex;
    border-bottom: 1px solid #dedede;
}

.publicHead li{
    font-size: 16px;
    padding:0 30px 3px;
    position: relative;
    cursor: pointer;
}

.publicHead li.active,.publicHead li:not(:last-child):hover{
    color: #efa611;
    font-weight: bold;
    border-bottom: 2px solid #efa611;
}
.publicHead li:not(.active):hover{
    font-weight: normal;
}
.publicHead li.active::after,.publicHead li:not(:last-child):hover::after{
    content: "";
    width: 10px;
    height: 6px;
    background: url(../images/sprites.png) -195px -30px no-repeat;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
}





