body,h1,h2,h3,h4,dl,dd,p{
    margin: 0;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    vertical-align: middle;/* 将图片的缝隙去掉  */
}

button{
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

body{
    background: #f4f4f4;
}

/* 登录弹窗公共样式 */
.dialog{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}
.dialog.show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog .wrap{
    position: relative;
}
.dialog .wrap h3{
    font-size: 24px;
    line-height: 42px;
    color:#fffeef;
    text-align: center;
}
.dialog .close{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 6px;
    right: 6px;
    background: url(../images/dia-login-close.png) no-repeat center;
}


/* 轮播图公共样式 */
.carousel{
    position: relative;
    overflow: hidden;
}
.carouselInner{
    display: flex;
    position: absolute;
}
.carouselIndicators{
    display: flex;
    position: absolute;
}
.carousel .carouselIndicators span{
    cursor: pointer;
    background: #fff;
}
.carouselIndicators span.active,.carouselIndicators span:hover{
    background: #feb012;
}
